body{
    margin: 0;
    padding: 0;
    background-image: url('img/pokedexcentro.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}        

.cabecera{
        padding-bottom: 20%;
        background-image: url('img/pokedexarriba.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0.8;
}
.pie{
    padding-bottom: 20%;
    background-image: url('img/pokedexabajo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.8;
}

.buscador {
    position: fixed;
    top: 43%; 
    left: 89.6%;
    transform: translateX(-50%);
    padding: 10px;
}

input{
    outline: none;
    box-sizing: border-box;
    height: 60px;
    width: 0;
    background-color: transparent;
    outline: none;
    border: 2px solid #212F3C ;
    border-radius: 50px;
    padding: 0 20px;
    box-shadow: 0 0 10px #212F3C , inset 0 0 10px #212F3C ;
    color: #212F3C ;
    font-size: 16px;
    transition: all .7s ease;
}

::placeholder{
    color: #212F3C ;
}

.btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;
    height: 80px;
    box-shadow: 0 0 10px #212F3C, inset 0 0 10px #212F3C;
    background-color: #212F3C;
    line-height: 80px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: .5s;
}

.btn img{
    width: 70%;
    height: auto;
    display: block;
    margin: 10% auto;
    transition: all .7 ease;
}

.buscador:hover input{
    width: 350px;
}

#pokeContainer{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    padding: 7% 20.5% 3% 6%;
}

#pokeContainer .tarjeta{
    flex: 15%;
    padding: 0 20px;
    margin-top: 50px;
    margin: 1%;
    padding: 1% 0 3% 0;
    background-color: #F2F3F4;
    outline: none;
    border: 2px solid #212F3C ;
    border-radius: 5%;
    box-shadow: 0 0 10px #212F3C , inset 0 0 10px #212F3C ;
}

.nombre{
    font-family: Barlow;
    font-size: 25px;
    margin-right: 5%;

}

.id{
    font-family: Barlow;
    font-size: 15px;
}

#tipo{
    color: black;
    font-size: 20px;
    padding: 3% 3% 3% 3%;
    padding-bottom: 10px;
    
}

.tarjeta h1:first-letter {
    text-transform: uppercase;
}

@media only screen and(max-width: 600px){
    #pokeContainer .tarjeta{
        flex: 100%;
        max-width: 100%;
        margin-top: 50px;
    }
}

@media only screen and(min-width: 768px){
    #pokeContainer .tarjeta{
        flex: 50%;
        max-width: 100%;
        margin-top: 50px;
    }
}





