#pokeContainer{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    padding: 35% 7% 3% 6%;
}

#pokeContainer .tarjeta{
    
    flex: 15%;
    padding: 0 20px;
    margin-top: 50px;
    margin: 1%;
    padding: 1% 0 3% 0;
    background-color: #F2F3F4;
    outline: none;
    border: 2px solid #212F3C ;
    border-radius: 5%;
    box-shadow: 0 0 10px #212F3C , inset 0 0 10px #212F3C ;
    opacity: 0.95;
    z-index: -1;
}
.tarjeta :hover{
    box-shadow: 30px 30px 30px rgb(0, 119, 255);
    background-color: #027cf5;
}

.nombre{
    font-family: Barlow;
    font-size: 25px;
    margin-right: 5%;

}

.id{
    font-family: Barlow;
    font-size: 15px;
}


.tarjeta h1:first-letter {
    text-transform: uppercase;
}

@media (max-width: 600px){
    #pokeContainer .tarjeta{
        flex: 100%;
        max-width: 100%;
        margin-top: 50px;
    }
}

@media only screen and(min-width: 768px){
    #pokeContainer .tarjeta{
        flex: 50%;
        max-width: 100%;
        margin-top: 50px;
    }
}