@import url(cabecera.css);
@import url(contaienr.css);
@import url(darkMode.css);
@import url(tipos.css);
@import url(menu.css);
@import url(filtroTipos.css);



body{
    margin: 0;
    padding: 0;
    background-image: url('../img/fondo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: 0.5s ease-in-out;
}        







