body{
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: 0.5s ease-in-out;
} 

/* CABECERA */
.cabecera{
    position: fixed;
    display: flex;
    background-color: rgba(255, 255, 255, 0.829);
    width: 100%;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    flex-direction: row;
    align-items: center;
}

.buscador {
    display: flex;
    align-content: flex-end;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding-top: 5%;
}

input{
    box-sizing: border-box;
    height: 40px;
    width: 0;
    background-color: transparent;
    outline: none;
    border: 2px solid #212F3C ;
    border-radius: 50px;
    box-shadow: 0 0 10px #212F3C , inset 0 0 10px #212F3C ;
    color: #212F3C ;
    font-size: 16px;
    transition: all .7s ease;
}

::placeholder{
    color: #212F3C ;
}

.btn {
    width: 60px;
    height: 60px;
    box-shadow: 0 0 10px #212F3C, inset 0 0 10px #212F3C;
    background-color: #212F3C;
    line-height: 80px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: .7s;
    transform: translateY(-80%);
}

.btn img{
    width: 70%;
    height: auto;
    margin: 10% auto;
}

.buscador:hover input{
    width: 350px;
}

.buscador:hover .btn{
    margin-left: 325px;
}

/* BOTON MODO OSCURO */
.modoCL_OS{
    padding-left: 90%;
    position: absolute;
}
.modoCL_OS input[type="checkbox"] {
    visibility: hidden;
    display: none;
  }

  .modoCL_OS *,
  .modoCL_OS ::after,
  .modoCL_OS ::before {
    box-sizing: border-box;
  }

  .modoCL_OS .switch {
    --width-of-switch: 3.5em;
    --height-of-switch: 2em;
    --size-of-icon: 1.4em;
    --slider-offset: 0.3em;
    position: relative;
    width: var(--width-of-switch);
    height: var(--height-of-switch);
    display: inline-block;
  }

  .modoCL_OS .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f4f4f5;
    transition: .4s;
    border-radius: 30px;
  }

  .modoCL_OS .slider:before {
    position: absolute;
    content: "";
    height: var(--size-of-icon,1.4em);
    width: var(--size-of-icon,1.4em);
    border-radius: 20px;
    left: var(--slider-offset,0.3em);
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
    ;
   transition: .4s;
  }

  .modoCL_OS input:checked + .slider {
    background-color: #303136;
  }

  .modoCL_OS input:checked + .slider:before {
    left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
    background: #303136;
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
  }

/* TIPOS */
.sintipo{
    color: black;
    font-size: 20px;
    padding: 3% 3% 3% 3%;
    padding-bottom: 10px;
    
}

.planta{
    font-size: 20px;
    border-radius: 15%;
    box-shadow: 0 0 20px #239B56  , inset 3px 0px 10px #239B56;
    animation: plantaAnimacion 3s linear infinite alternate both;
    font-size: 20px;
    padding: 3% 3% 3% 3%;
    padding-bottom: 10px;
}
@keyframes plantaAnimacion{
    0%{
        background: #008202;
    }
    50%{
        background: #06BF09;
    }
    100%{
        background: #0CEA10;
    }
}

.fuego{
    font-size: 20px;
    border-radius: 15%;
    box-shadow: 0 0 20px #F39C12  , inset 3px 0px 10px #F39C12;
    animation: fuegoAnimacion 3s linear infinite alternate both;
    color: #E5E8E8;
    font-size: 20px;
    padding: 3% 3% 3% 3%;
    padding-bottom: 10px;
}
@keyframes fuegoAnimacion{
    0%{
        background: #EC0404;
    }
    50%{
        background: #FF9B00;
    }
    100%{
        background: #FF6400;
    }
}
.agua{
    font-size: 20px;
    border-radius: 15%;
    box-shadow: 0 0 20px #5499C7  , inset 3px 0px 10px #5499C7;
    animation: aguaAnimacion 3s linear infinite alternate both;   
    padding: 3% 3% 3% 3%;
    padding-bottom: 10px;
}
@keyframes aguaAnimacion{
    0%{
        background: #1300FF;
    }
    50%{
        background: #00C1FF;
    }
    100%{
        background: #0083FF;
    }
}
.electrico{
    font-size: 20px;
    border-radius: 15%;
    box-shadow: 0 0 20px yellow  , inset 3px 0px 10px yellow;
    animation: electricoAnimacion 3s linear infinite alternate both;
    padding: 3% 3% 3% 3%;
    padding-bottom: 10px;
}
@keyframes electricoAnimacion{
    0%{
        background: #ECFF00;
    }
    50%{
        background: #FFC900;
    }
    100%{
        background: #00FFFB;
    }
}
.veneno{
    font-size: 20px;
    border-radius: 15%;
    box-shadow: 0 0 20px #9349F7  , inset 3px 0px 10px #9349F7;
    animation: venenoAnimacion 4s linear infinite alternate both;
    padding: 3% 3% 3% 3%;
    padding-bottom: 10px;
}
@keyframes venenoAnimacion{
    0%{
        background: #8300FF;
    }
    50%{
        background: #C100FF;
    }
    100%{
        background: #5B109A;
    }
}
.volador{
    font-size: 20px;
    border-radius: 15%;
    box-shadow: 0 0 20px grey  , inset 3px 0px 10px grey;
    animation: voladorAnimacion 4s linear infinite alternate both;
    font-size: 20px;
    padding: 3% 3% 3% 3%;
    padding-bottom: 10px;
}
@keyframes voladorAnimacion{
    0%{
        background: #E4E4E4;
    }
    50%{
        background: #B9B9B8;
    }
    100%{
        background: #737373;
    }
}
.bicho{
    font-size: 20px;
    border-radius: 15%;
    box-shadow: 0 0 20px greenyellow  , inset 3px 0px 10px greenyellow;
    animation: bichoAnimacion 4s linear infinite alternate both;
    padding: 3% 3% 3% 3%;
    padding-bottom: 10px;
}
@keyframes bichoAnimacion{
    0%{
        background: #46DC28;
    }
    50%{
        background: #37F02E;
    }
    100%{
        background: #53C44D;
    }
}
.normal{
    font-size: 20px;
    border-radius: 15%;
    box-shadow: 0 0 20px black  , inset 3px 0px 10px black;
    color: black;
    font-size: 20px;
    padding: 3% 3% 3% 3%;
    padding-bottom: 10px;
}

.tierra{
    font-size: 20px;
    border-radius: 15%;
    box-shadow: 0 0 20px brown  , inset 3px 0px 10px brown;
    animation: tierraAnimacion 4s linear infinite alternate both;
    padding: 3% 3% 3% 3%;
    padding-bottom: 10px;
}
@keyframes tierraAnimacion{
    0%{
        background: #854005;
    }
    50%{
        background: #AB6F3E;
    }
    100%{
        background: #BF5904;
    }
}
.hada{
    font-size: 20px;
    border-radius: 15%;
    box-shadow: 0 0 20px rgb(204, 112, 127)  , inset 3px 0px 10px rgb(238, 125, 143);
    animation: hadaAnimacion 4s linear infinite alternate both;
    padding: 3% 3% 3% 3%;
    padding-bottom: 10px;
}
@keyframes hadaAnimacion{
    0%{
        background: #FA22C6;
    }
    50%{
        background: #FF69DB;
    }
    100%{
        background: #FF94E5;
    }
}
.lucha{
    font-size: 20px;
    border-radius: 15%;
    box-shadow: 0 0 20px #F03535  , inset 3px 0px 10px #F03535;
    animation: luchaAnimacion 4s linear infinite alternate both;
    padding: 3% 3% 3% 3%;
    padding-bottom: 10px;
}
@keyframes luchaAnimacion{
    0%{
        background: #F03535;
    }
    50%{
        background: #B10B0B;
    }
    100%{
        background: #E31515;
    }
}
.psiquico{
    font-size: 20px;
    border-radius: 15%;
    box-shadow: 0 0 20px #B00CA4  , inset 3px 0px 10px #B00CA4;
    animation: psiquicoAnimacion 4s linear infinite alternate both;
    padding: 3% 3% 3% 3%;
    padding-bottom: 10px;
}
@keyframes psiquicoAnimacion{
    0%{
        background: #B00CA4;
    }
    50%{
        background: #CB49C2;
    }
    100%{
        background: #BA02AC;
    }
}
.roca{
    font-size: 20px;
    border-radius: 15%;
    box-shadow: 0 0 20px #90765E  , inset 3px 0px 10px #90765E;
    animation: rocaAnimacion 4s linear infinite alternate both;
    padding: 3% 3% 3% 3%;
    padding-bottom: 10px;
}
@keyframes rocaAnimacion{
    0%{
        background: #7D420A;
    }
    50%{
        background: #9E7146;
    }
    100%{
        background: #90765E;
    }
}
.acero{
    font-size: 20px;
    border-radius: 15%;
    box-shadow: 0 0 20px #888888  , inset 3px 0px 10px #888888;
    animation: aceroAnimacion 4s linear infinite alternate both;
    padding: 3% 3% 3% 3%;
    padding-bottom: 10px;
}
@keyframes aceroAnimacion{
    0%{
        background: #888888;
    }
    50%{
        background: #ABCACB;
    }
    100%{
        background: #A4A4A4;
    }
}
.hielo{
    font-size: 20px;
    border-radius: 15%;
    box-shadow: 0 0 20px skyblue  , inset 3px 0px 10px skyblue;
    animation: hieloAnimacion 4s linear infinite alternate both;
    padding: 3% 3% 3% 3%;
    padding-bottom: 10px;
}
@keyframes hieloAnimacion{
    0%{
        background: #2FF9FF;
    }
    50%{
        background: #63FAFF;
    }
    100%{
        background: #9FFCFF;
    }
}
.fantasma{
    font-size: 20px;
    border-radius: 15%;
    box-shadow: 0 0 20px #BB89FF  , inset 3px 0px 10px #BB89FF;
    animation: fantasmaAnimacion 4s linear infinite alternate both;
    padding: 3% 3% 3% 3%;
    padding-bottom: 10px;
}
@keyframes fantasmaAnimacion{
    0%{
        background: #6F05FF;
    }
    50%{
        background: #9D55FF;
    }
    100%{
        background: #BB89FF;
    }
}
.dragon{
    font-size: 20px;
    border-radius: 15%;
    box-shadow: 0 0 20px darkblue  , inset 3px 0px 10px darkblue;
    animation: dragonAnimacion 4s linear infinite alternate both;
    padding: 3% 3% 3% 3%;
    padding-bottom: 10px;
}
@keyframes dragonAnimacion{
    0%{
        background: #0008FF;
    }
    50%{
        background: #5459FF;
    }
    100%{
        background: #2F34CC;
    }
}
/* CONTAINER */
#pokeContainer{
    background-color: grey;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    padding: 25% 7% 3% 6%;
}

#pokeContainer .tarjeta{
    flex: 15%;
    padding: 0 20px;
    margin-top: 50px;
    margin: 1%;
    padding: 1% 0 3% 0;
    background-color: #F2F3F4;
    outline: none;
    border: 2px solid #212F3C ;
    border-radius: 5%;
    box-shadow: 0 0 10px #212F3C , inset 0 0 10px #212F3C ;
    opacity: 0.95;
}

.nombre{
    font-family: Barlow;
    font-size: 25px;
    margin-right: 5%;

}

.id{
    font-family: Barlow;
    font-size: 15px;
}


.tarjeta h1:first-letter {
    text-transform: uppercase;
}

@media (max-width: 600px){
    #pokeContainer .tarjeta{
        flex: 100%;
        max-width: 100%;
        margin-top: 50px;
    }
    .buscador:hover input{
        width: 150px;
    }
    
    .buscador:hover .btn{
        margin-left: 125px;
    }
    .btn {
        width: 30px;
        height: 30px;
    }
    input{
        height: 20px;

    }
}

@media only screen and(min-width: 768px){
    #pokeContainer .tarjeta{
        flex: 50%;
        max-width: 100%;
        margin-top: 50px;
    }
}







