body{
    margin: 0;
    padding: 0;
    background-color:rgb(240,240,240);
    text-align: center;
    display:  flex;
    font-family: 'Pokemon';
}
@font-face {
    font-family: 'Pokemon';
    src: url('Pokemon Hollow.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

#container {
    padding: 5% 7% 3% 30%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-around;
    flex-direction: column;
}

#foto{
    background-color: #BFC9CA;
    border-radius: 90px;
    text-align: center;
    box-shadow: 0 0 10px #212F3C , inset 0 0 10px #212F3C ;
    
}
#info{
    background-color: brown;
}

.containerGrafica {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#grafica{
    background-color: #5D6D7E;
    padding: 1% 1% 1% 1%;
}


#vida{
    background-color: #5D6D7E ;
    padding-bottom: 10%;
    border-radius: 15%;
}
#ataque{
    background-color: #5D6D7E;
    padding-bottom: 10%;
    border-radius: 15%;
}
#Defensa{
    background-color: #5D6D7E;
    padding-bottom: 10%;
    border-radius: 15%;
}
#Atesp{
    background-color: #5D6D7E;
    padding-bottom: 10%;
    border-radius: 15%;
}
#Defesp{
    background-color: #5D6D7E;
    padding-bottom: 10%;
    border-radius: 15%;
}
#Velocidad{
    background-color: #5D6D7E;
    padding-bottom: 10%;
    border-radius: 15%;  
}


#statvida{
    background-color: #CCD1D1 ;
    margin-bottom: 5px;
    padding-bottom: 10%;
    border-radius: 5%;
    height: 28px;
    width: 200px;
}
#statataque{
    background-color: #CCD1D1;
    margin-bottom: 5px;
    padding-bottom: 10%;
    border-radius: 5%;
    height: 28px;
    width: 200px;
}
#statDefensa{
    background-color: #CCD1D1;
    margin-bottom: 5px;
    padding-bottom: 10%;
    border-radius: 5%;
    height: 28px;
    width: 200px;
}
#statAtesp{
    background-color: #CCD1D1;
    margin-bottom: 5px;
    padding-bottom: 10%;
    border-radius: 5%;
    height: 28px;
    width: 200px;
}
#statDefesp{
    background-color: #CCD1D1;
    margin-bottom: 5px;
    padding-bottom: 10%;
    border-radius: 5%;
    height: 27px;
    width: 200px;
}
#statVelocidad{
    background-color: #CCD1D1;
    margin-bottom: 5px;
    padding-bottom: 10%;
    border-radius: 5%;
    height: 27px;
    width: 200px;
}


ul{
    list-style: none;
    text-align: left;
}
.cabecera{
    position: fixed;
    background-color: white;
    width: 100%;
    height: 1%;
    padding: 0% 0 2.4% 0;        
    background-size: cover;
    background-position: center;        
    background-repeat: no-repeat;
    text-align: left;
}

#portada{
    opacity: 1;
}