body{
    margin: 0;
    padding: 0;
    background-color:rgb(240,240,240);
    text-align: center;
    display:  flex;
    font-family: 'Pokemon';
}
@font-face {
    font-family: 'Pokemon';
    src: url('Pokemon Hollow.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
#content{
    width: 130px;
    height: 600px;
    background-color: blue;
    
}

#container1{
    text-align: center;
    display: flex;
    flex-wrap: wrap;

}
#container{
display: inline;
}
#relleno{
    background-color: brown;
    width: 130px;
    height: 600px;

}
#centro{
    background-color: aqua;
    width: 130px;
    height: 600px;
    text-align: center;
}
.tabla{
    width: 180px;
}
.barras_salud{
    background-color: green;
    width:(100/255);
}
#foto{
    background-color: rgba(93, 93, 93, 0.782);
    border-radius: 90px;
    margin-top: 100px;
    margin-left: 50px;
}
#info{
    background-color: brown;
    margin-left: 50px;
    margin-top: 9%;
}
#grafica{
    background-color: chocolate;
    margin-top: 9%;
    margin-left: 50px;
}
#vida{
    background-color: green ;
    padding-bottom: 10%;
    padding-top: 10%;
    margin-bottom: 40%;

}
#ataque{
    background-color: red;
    padding-bottom: 10%;
    padding-top: 10%;
    margin-bottom: 40%;
}
#Defensa{
    background-color: grey;
    padding-bottom: 10%;
    padding-top: 10%;
    margin-bottom: 40%;
}
#Atesp{
    background-color: blue;
    padding-bottom: 10%;
    padding-top: 10%;
    margin-bottom: 40%;
}
#Defesp{
    background-color: blueviolet;
    padding-bottom: 10%;
    padding-top: 10%;
    margin-bottom: 40%;
}
#Velocidad{
    background-color: gold;
    padding-bottom: 10%;
    padding-top: 10%;
    margin-bottom: 40%;
   
}

#lista1{
    margin-bottom: 215%;
}
ul{
    list-style: none;
    text-align: left;
}
.cabecera{
    position: fixed;
    background-color: white;
    width: 100%;
    height: 1%;
    padding: 0% 0 2.4% 0;        
    background-size: cover;
    background-position: center;        
    background-repeat: no-repeat;
    text-align: left;
}

#portada{
    opacity: 1;
}